# From txAdmin GitHub Repo: https://github.com/tabarra/txAdmin/blob/master/README.md

name: Create Tagged Release Prod

on: workflow_dispatch

jobs:
  build:
    name: "Build Changelog & Release Prod"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Download all modules
        run: cd web && npm ci

      - name: Build project
        run: npm run build

      - name: Compress build output with zip
        run: |
          cd dist && zip -r ../vReports.zip .

      - name: Create and Upload Release
        uses: "marvinpinto/action-automatic-releases@v1.2.1"
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: false
          files: vReports.zip